<div class="ao-panel" type="banner">
    <!--{{applicationStateMgr}}-->
    <h1>{{applicationStateMgr.manager.selectedMatter.matterId}}</h1>
    <p>{{applicationStateMgr.manager.selectedMatter.matterName}}</p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="mustard report button fill">
                    <div class="ao-panel remove-border">
                        <section>
                            <div class="content">Matter Information</div>
                        </section>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <button class="blue report button fill">Matter Overview Life To Date</button>
            </div>
            <div class="col-md-3">
                <button class="apple report button fill">Work In Progress</button>
            </div>
            <div class="col-md-3">
                <button class="lavender report button fill">Unpaid Invoices</button>
            </div>
        </div>
    </div>
    <p>{{applicationStateMgr}}</p>
</div>
