<div class="ao-panel" type="banner">
    <!--{{applicationStateMgr}}-->
    <h1>{{applicationStateMgr.manager.selectedMatter.matterId}}</h1>
    <p>{{applicationStateMgr.manager.selectedMatter.matterName}}</p>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button class="blue button fill">Button</button>
            </div>
            <div class="col-md-3">
                <button class="blue button fill">Button</button>
            </div>
            <div class="col-md-3">
                <button class="blue button fill">Button</button>
            </div>
            <div class="col-md-3">
                <button class="blue button fill">Button</button>
            </div>
        </div>
    </div>
    <p>{{applicationStateMgr}}</p>
</div>
