@import "ao-branding";

//OVERRIDE THE AO-BOOTSTRAP BLUE BUTTON
.blue.button{
  background-color: @Azure;
}

//REMOVE THE HOVER EFFECT FOR BUTTONS AND ANCHOR TAGS
.button:hover{
//  background-color: inherit;
}


a:hover, a:focus{
  text-decoration: none;
}
