<div class="ao-panel with round corners align-content-to-header" title="signin">
    <header class="with round top corners">
        <div class="content" style="text-align: center">SIGN IN</div>
    </header>
    <section class="body">
        <div class="content">
            <input ng-model="username" type="text" placeholder="Name" style="width:100%;"/>
            <input type="password" placeholder="Password" style="width:100%;"/>
            <!--<button class="blue medium button" ng-click="toggleSignIn()">SIGN IN</button>-->
            <a href="#/reports" class="blue medium button fill width" ng-click="signIn(username)">SIGN IN</a>
        </div>
    </section>
    <!--<footer><div class="content">SIGN IN WITH</div></footer>-->
</div>